body{
    background-color: #099fb3;
    font-family: Comic Sans MS;
}
.image5
{
    width: auto;
    height: auto;
    position: fixed;
     top: 60%;
  left: 48.5%;
  margin-top: -50px;
  margin-left: -100px;
}
.image4{
    width: 250;
    height: 150;
    position: fixed;
     top: 60%;
  left: 49%;
  margin-top: -50px;
  margin-left: -100px;
}
.image3{
    width: 200;
    height: 200;
}
.image2{
    width: auto;
    height: auto;
}
.image1{
    width: auto;
    height: auto;
}
.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

/* Style the navigation menu */
.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

/* Navigation links */
/* Style the navigation menu */
.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

/* Navigation links */
.navbar a {
    float: left;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 25%;
    /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center;
    /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar a:hover {
    background-color: #000;
}

/* Style the current/active link */
.navbar a:active {
    background-color: #4CAF50;
}

#bannerimg {
    width: 100%;
    height: auto;
}

.hello{
    text-align: center;
}
.about{
 position: fixed;
     top: 70%;
     left:40%;
}
.aboutname{
 position: fixed;
     left:48%;   
}
.aboutdet{
    position: fixed;
     left:46%;   
}
.intro{
  position: fixed;
     top: 73%;
     left:45%;  
}
.pacim{
        float: left;
}
.pacbio{
     position: fixed;
    top: 52%;
    left:28%; 
}
.pacproj{
    width: auto;
}